

<head>    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if(currentUser){ %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/appointment"> Add Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/appointmentlist">Appointment list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/prescription">Prescription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/prescriptionlist">Prescription List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/doctorNclinic">Doctor and Clinic </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/doctorlist">Doctor List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/healthlog">Health Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/healthloglist">Health Log list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/symptom">add Symptoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/symptomlist">Symptom list</a>
          </li>
          <% } %>   
          <%if(!currentUser){%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">SIGN IN</a>
          </li>
          <%}%>            
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>